@import "tailwindcss";
@plugin "daisyui";

/* src/styles/fonts.css */

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 폰트 변수 등록 */
:root {
  --font-pretendard: 'Pretendard', sans-serif;
}


/* 반응형 */
body {
  min-width: 360px;
  font-family: "Pretendard", sans-serif;
}

/* Tailwind 커스텀 테마 */
@theme {
  --color-brand-primary: #26414a;
  --color-accent-sky: #4375db;
  --color-accent-orange: #fc8d09;
  --color-theme-dark: #2b2b2b;
  --font-default : "Pretendard", "sans-serif";
  --font-logo : "BMDOHYEON" , "sans-serif";

  --animate-fadeSlide: fadeSlide 1s ease-out;

  @keyframes fadeSlide {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* theme 변경에 따른 text 색 변경 */
.theme-text {
  @apply !text-brand-primary dark:!text-white;
}

/* theme 변경에 따른 input 배경색, placeholder 변경 */
.theme-input {
  @apply dark:!bg-gray-500 placeholder:text-gray-400;
}

/* theme 변경에 따른 배경색 변경 */
.theme-bg {
  @apply transition-colors duration-300 bg-white dark:bg-theme-dark;
}

/* flex 기본 */
.flex-default {
  @apply flex items-center justify-between;
}

/* border 기본 */
.box-border {
  @apply border border-gray-200 rounded-lg dark:border-gray-400;
}

.box-border-black {
  @apply border border-brand-primary rounded-lg dark:border-gray-400;
}

@custom-variant dark (&:where(.dark, .dark *));
